.single-item-parallax {
    background-image: url(https://www.hobea.de/images/gallery/pl_legenda/2-1-1.jpg);
}
.plentylions-link,
.plentylions-link a {
    color: #959595;
}
.plentylions-link a:hover{
    color: #ff0f5b;
}

.pl_topline{
  background: #EBEBEB;
  padding: 4px;
}
.pl_topline .item {
    margin: 0 3px;
}

.navbar .toggle-basket-preview .pl-material.pl-outline-shopping_cart{
    font-size: 40px;
}
.toggle-basket-preview .pl-material.pl-outline-shopping_cart:before{
    content: "\e928";
}

.cmp-product-thumb .crossprice:before{
    content: 'UVP:\00a0';
    display: inline-block;
}

/* Newsletter widget */
.widget-newsletter .btn-primary{
    padding: 0.75rem 1rem;
}

@media (max-width: 767px){
  .home .widget-image-box{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40%;
  }
}
@media (max-width: 575.98px){
  .home .widget-image-box{
    max-width: 320px;
  }
  .home .widget-image-box.widget-image-box-block-caption>.widget-inner{
    padding: 40% 0 0 0;
  }
}