h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
#mainNavbarCollapsable ul.mainmenu > li > a,
.sidebar-categories .category-title-side, .sidebar-title-block{
    font-family: Custom-Font, 'Open Sans', sans-serif !important;
}

#page-header-parent>.widget-fw{
  width: 100vw !important;
}

.custom-select option:disabled{
    color: rgb(200, 200, 200);
}

.category-description a, .single .tab-content a{
    color: #ff0f5b;
}
.category-description a:hover, .single .tab-content a:hover{
    text-decoration: underline;
}

.single .articlenumber{
    display: none;
}
.single-item-parallax {
    background-image: url(https://www.hobea.de/images/gallery/pl_legenda/2-1-1.jpg);
}
.plentylions-link,
.plentylions-link a {
    color: #959595;
}
.plentylions-link a:hover{
    color: #ff0f5b;
}

.pl_topline{
  background: #EBEBEB;
  padding: 4px;
}
.pl_topline .fa, .pl_topline .pl-material{
    margin: 0;
    vertical-align: middle;
}
.pl_topline .item .text{
    vertical-align: middle;
}
.pl_topline .item:not(:last-child) {
    margin-right: 32px;
}
.pl_topline .pl-material,
.pl_topline .fa{
    font-size: 1.2rem !important;
}
@media (max-width: 767px) {
    .pl_topline .flex-cont{
        justify-content: space-around !important;
    }
    .pl_topline .item{
        margin-right: 0;
    }
    .pl_topline .item .text{
        display: none;
    }
}

.navbar .toggle-basket-preview .pl-material.pl-outline-shopping_cart{
    font-size: 40px;
}
.toggle-basket-preview .pl-material.pl-outline-shopping_cart:before{
    content: "\e928";
}
.top-bar .controls-list .control-user{
    margin-left: 0;
}
@media (min-width: 576px){
    .searchCol .search-box-inner{
        display: block !important;
    }
}
@media (max-width: 575.98px){
    .searchCol .search-box-inner{
        display: none;
    }
}
@media (max-width: 1200px) {
    .header-custom-html{
        padding-left: 15px;
    }
}

.cmp-product-thumb .price-view-port{
    display: none;
}

/* Feedback */
.cmp-product-thumb .special-tags .badge.circle.badge-offer{
    visibility: hidden;
    position: relative;
}
.cmp-product-thumb .special-tags .badge.circle.badge-offer:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: 'SALE';
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 0 0.4rem;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: normal;
    background-color: rgba(255,255,255,0.5) !important;
    border-color: #ed1c2e !important;
}
.cmp-product-thumb .feedback-stars-average.feedback-category-view{
    width: 100%;
}
.cmp-product-thumb .feedback-stars-average .feedback-stars-background, .cmp-product-thumb .feedback-stars-average .feedback-stars-overlay-wrap{
    left: calc(50% - 42.5px);
    width: 85px;
}
.feedback-container .feedback-loadmore{
    color: #fff !important;
    background-color: #ff0f5b !important;
    border-color: #ff0f5b !important;
}
.feedback-container .feedback-bars .feedback-bar-wrap .feedback-bar .feedback-bar-fill{
    background: #ff0f5b;
}

/* Newsletter widget */
.plentyCheckForm.newsletter-form .btn-primary,
.widget-newsletter .btn-primary{
    padding: 0.75rem 1rem;
    margin-bottom: 15px;
}

/* Footer */
.footer hr {
    border-color: #e9e9e9 !important;
}

@media (max-width: 767px){
  .home .widget-image-box{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40%;
  }
}
@media (max-width: 575.98px){
  .home .widget-image-box{
    max-width: 320px;
  }
  .home .widget-image-box.widget-image-box-block-caption>.widget-inner{
    padding: 40% 0 0 0;
  }
  .widget-image-carousel.widget-primary .widget-caption h2, .widget-image-carousel.widget-primary .widget-caption .h2, .widget-image-carousel.widget-primary:hover .widget-caption h2, .widget-image-carousel.widget-primary:hover .widget-caption .h2{
      font-size: 1.5rem !important;
  }
}